*{
    font-family: pangea, sans-serif;
    text-align:center;
    color:rgb(245,245,245);
       } 
body{
           background:url(https://p4.wallpaperbetter.com/wallpaper/252/303/689/background-dirt-minecraft-minimalistic-wallpaper-preview.jpg);
            background-size: cover;
            margin:0;
            padding-top:110;
       }
       /* setting styles for the pricing part */
.product {
            border: 1px solid #ccc;
            padding: 20px;
            margin: 10px;
            text-align: center;
            background:url('https://lh3.googleusercontent.com/KZSN423oAcpyDNESmZXWEORmoNFC0i3pbEjpUUA3KgKE6fz-HLAfIu_Bt6Hgnr-96Y8KlDmEQKnQmzlDL9Gk=s250');
        }
iframe{
    min-width:800px;
    max-width:1200px; 
    height:90%;
}
.product-name{
    background-color:#2a641c;;
}
ol, li{
    list-style: none; 
    text-align:left;
}
.both{
    display:flex;
    justify-content:center;
}

button{
    background-color:#2a641c;;
    color:#fff;
    font-weight:400;
    font-size:1.2rem;
    width:60%;
    height:30px;
  bottom:-100px;
}
        /* Estilo visual para la selección de productos */
.product label {
    display: block;
    background-color: #fff;
    padding: 10px;
    border: 2px solid #ccc;
    cursor: pointer;
        }
/*header*/
#page-wrapper {
    display: flex; /* Utiliza flexbox para sus hijos */
    background-image: url(https://wallpaperswide.com/download/minecraft_landscape_2-wallpaper-7680x2160.jpg);/* Imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-position: center center; /* Centra la imagen en el fondo */
    height: 100px; /* Altura deseada para el contenedor 'fig' */
    align-items: center; /* Centra verticalmente los elementos hijos */
    justify-content: space-between; /* Espacio uniforme entre los elementos hijos */
    padding: 0 20px; /* Espaciado interior para los elementos hijos */
    position: fixed; /* Elemento fijo */
    top: 0; /* Fijar en la parte superior de la pantalla */
    width: 100%; /* Ancho completo */
    margin:0;
    z-index: 999; /* Z-index alto para estar en la parte superior */
        }

        /* Estilo del logo */
#header-img {
    max-height: 100px; /* Ajusta la altura máxima de la imagen del logo */
}

/* Estilo de los elementos de navegación*/
#nav-bar ul{
    list-style: none; /* Elimina los marcadores de lista */
    padding: 0; /* Elimina el relleno de la lista */
    display: flex; /* Utiliza flexbox para los elementos 'li' */

}
#nav-bar a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}
#nav-bar li {
    margin-right: 10px; /* Espacio entre los elementos 'li' */
    font-size:20px;
    position:relative;
    left:-40;
}
/*----------------- Estilos para la cuadrícula de características en pantallas de PC */
/* Estilos para la cuadrícula de características en pantallas de PC */

.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Estilos para cada característica */
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centra verticalmente */
  text-align: center;
}

/* Estilos para cada contenedor de imagen */
.image-container {
  width: 100%;
  
}
.text-container p{
    color:#e7eaef;
    font-size:1.4rem
}
.featureimg {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}

/* Estilos para cada contenedor de texto */
.text-container {
  width: 100%;
  background-color: #252525;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centra verticalmente */
  padding: 5px; /* Agrega espacio interno */
  box-sizing: border-box; /* Asegura que el padding no aumente el tamaño del contenedor */
  height: 100%; /* Ocupar todo el espacio disponible */
}

/* Regla @media para pantallas más pequeñas (por ejemplo, tablets y teléfonos) */
@media (max-width: 768px) {
  /* Cambia la disposición a una sola columna en pantallas más pequeñas */
  .features-grid {
    grid-template-columns: 1fr;
  }
}
/*beeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
.bee-container {
  width: 100%; /* Ajusta el ancho y alto según tus necesidades */
  height: 100px;
  margin-top:10px;
  position: relative; /* Necesario para aplicar transformaciones */
  animation: slide 4s linear infinite; /* Aplica la animación "slide" */
  overflow: hidden; /* Oculta cualquier contenido que se desborde */
}

/* Estilos para la imagen dentro del contenedor */
#bee {
    transform: scaleX(-1);
    
  position: absolute; /* Ajusta la posición absoluta para desplazamiento */
  top: 0;
  left: 0;
  margin-left:-90px;
}

/* Definición de la animación de la abeja */
@keyframes slideAndRotate {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  100% {
    transform: translateX(100%) rotate(360deg);
  }
}

/* Definición de la animación del Blaze (Blazer) */
@keyframes blazerAnimation {
  0% {
    opacity: 0; /* Inicialmente, el Blaze está oculto */
  }
  100% {
    opacity: 1; /* Al final de la animación, el Blaze es visible */
  }
}
/* Definición de la animación de desplazamiento */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%); /* Desplaza la imagen hacia la derecha */
  }
}
#email{
background-color:#252525;
color:#e7eaef;
}
#submit{
    background-color:#252525;
color:#e7eaef;
}

        /*-------------------------fonts--------------------*/
@font-face {
    font-family: SuisseIntl;
    src: url("https://cdn.honey.io/fonts/suisse-intl/400.eot");
    src: url("https://cdn.honey.io/fonts/suisse-intl/400.woff2") format("woff2"),url("https://cdn.honey.io/fonts/suisse-intl/400.woff") format("woff"),url("https://cdn.honey.io/fonts/suisse-intl/400.ttf") format("truetype"),url("https://cdn.honey.io/fonts/suisse-intl/400.svg") format("svg");
    font-display: swap
}

@font-face {
    font-family: SuisseIntlMono;
    src: url("https://cdn.honey.io/fonts/suisse-intl-mono/regular.eot");
    src: url("https://cdn.honey.io/fonts/suisse-intl-mono/regular.woff2") format("woff2"),url("https://cdn.honey.io/fonts/suisse-intl-mono/regular.woff") format("woff"),url("https://cdn.honey.io/fonts/suisse-intl-mono/regular.ttf") format("truetype"),url("https://cdn.honey.io/fonts/suisse-intl-mono/regular.svg") format("svg");
    font-display: swap
}

@font-face {
    font-family: Eina03;
    src: url("https://cdn.honey.io/fonts/eina03/700.eot");
    src: url("https://cdn.honey.io/fonts/eina03/700.woff2") format("woff2"),url("https://cdn.honey.io/fonts/eina03/700.woff") format("woff"),url("https://cdn.honey.io/fonts/eina03/700.ttf") format("truetype");
    font-display: swap
}

@font-face {
    font-family: Pangea;
    src: url("https://cdn.honey.io/fonts/pangea/medium.woff2") format("woff2"),url("https://cdn.honey.io/fonts/pangea/medium.woff") format("woff");
    font-display: swap
}

@font-face {
    font-family: HoneyGoldG;
    font-display: swap;
    src: url("https://cdn.honey.io/fonts/honeygold-g/medium.ttf") format("truetype")
}
