*{
  font-family: pangea, sans-serif;
  text-align:center;
  color:rgb(245,245,245);
      } 
body{
  background:url(https://p4.wallpaperbetter.com/wallpaper/252/303/689/background-dirt-minecraft-minimalistic-wallpaper-preview.jpg);
  background-size: cover;
  margin:0;
  padding-top:110px;
       }
       /* ------------PRICING ---------------*/
.product {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  text-align: center;
  background:url('https://lh3.googleusercontent.com/KZSN423oAcpyDNESmZXWEORmoNFC0i3pbEjpUUA3KgKE6fz-HLAfIu_Bt6Hgnr-96Y8KlDmEQKnQmzlDL9Gk=s250');
        }
iframe{
  min-width:800px;
  max-width:1200px; 
  height:90%;
}
.product-name{
  background-color:#2a641c;;
}
ol, li{
  list-style: none; 
  text-align:left;
}
.both{
  display:flex;
  justify-content:center;
}

button{
  background-color:#2a641c;;
  color:#fff;
  font-weight:400;
  font-size:1.2rem;
  width:60%;
  height:30px;
  bottom:-100px;
}

/*--------------------HEADER-------*/
#page-wrapper {
    display: flex; 
    background-image: url(https://wallpaperswide.com/download/minecraft_landscape_2-wallpaper-7680x2160.jpg);/* Imagen de fondo */
    background-size: cover; 
    background-repeat: no-repeat; /* avoid image repetition */
    background-position: center center; /* centers bground image */
    height: 100px; 
    align-items: center; /* vertically centers children */
    justify-content: space-between; /*justify chiuldrens */
    padding: 0 20px; /* space between childrens */
    position: fixed; 
    top: 0; /* to the top*/
    width: 100%; 
    margin:0;
    z-index: 999; /* Z-index to not get covered */
        }

        /* logo */
#header-img {
    max-height: 100px; 
}

#nav-bar ul{
    list-style: none; /* delete list markers */
    padding: 0; /*delete list bground */
    display: flex; 

}
#nav-bar a {
    text-decoration: none; /* deletes underline in 'a'*/
}
#nav-bar li {
    margin-right: 10px; /* space between  'li' */
    font-size:20px;
    position:relative;
    left:-40;
}
/*----------------- FEaTURES  in pc */
.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}


.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* vertically centers*/
  text-align: center;
}
.image-container {
  width: 100%;
  
}
.text-container p{
    color:#e7eaef;
    font-size:1.4rem
}
.featureimg {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}
.text-container {
  width: 100%;
  background-color: #252525;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* centers vertically */
  padding: 5px; /* Add some intern space */
  box-sizing: border-box; /* del padding */
  height: 100%; 
}
/*---------------RULES FOR SMALLER SCREENS-----------*/
/* Rule @media for smallers screens */
@media (max-width: 768px) {
  /* make it a single column in features in smaller devices*/
  .features-grid {
    grid-template-columns: 1fr;
  }
}
/*beeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/
.bee-container {
  width: 100%; 
  height: 100px;
  margin-top:10px;
  position: relative; 
  animation: slide 4s linear infinite; /* apply animation "slide" */
  overflow: hidden; 
}

/* gifs styles */
#bee {
  transform: scaleX(-1);
  position: absolute; 
  top: 0;
  left: 0;
  width:300; 
  height:100;
  margin-left:-90px;
}
#flower{
  width:80; 
  height:80;
  position:relative;
  bottom:-22;
}
/* defining bee animation*/
@keyframes slideAndRotate {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  100% {
    transform: translateX(100%) rotate(360deg);
  }
}
/* defining slide animation */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%); /* move to right */
  }
}
  /*---------------------------form*/
#email{
background-color:#252525;
color:#e7eaef;
}
#submit{
    background-color:#252525;
color:#e7eaef;
}

        /*-------------------------fonts--------------------*/
@font-face {
    font-family: SuisseIntl;
    src: url("https://cdn.honey.io/fonts/suisse-intl/400.eot");
    src: url("https://cdn.honey.io/fonts/suisse-intl/400.woff2") format("woff2"),url("https://cdn.honey.io/fonts/suisse-intl/400.woff") format("woff"),url("https://cdn.honey.io/fonts/suisse-intl/400.ttf") format("truetype"),url("https://cdn.honey.io/fonts/suisse-intl/400.svg") format("svg");
    font-display: swap
}

@font-face {
    font-family: SuisseIntlMono;
    src: url("https://cdn.honey.io/fonts/suisse-intl-mono/regular.eot");
    src: url("https://cdn.honey.io/fonts/suisse-intl-mono/regular.woff2") format("woff2"),url("https://cdn.honey.io/fonts/suisse-intl-mono/regular.woff") format("woff"),url("https://cdn.honey.io/fonts/suisse-intl-mono/regular.ttf") format("truetype"),url("https://cdn.honey.io/fonts/suisse-intl-mono/regular.svg") format("svg");
    font-display: swap
}

@font-face {
    font-family: Eina03;
    src: url("https://cdn.honey.io/fonts/eina03/700.eot");
    src: url("https://cdn.honey.io/fonts/eina03/700.woff2") format("woff2"),url("https://cdn.honey.io/fonts/eina03/700.woff") format("woff"),url("https://cdn.honey.io/fonts/eina03/700.ttf") format("truetype");
    font-display: swap
}

@font-face {
    font-family: Pangea;
    src: url("https://cdn.honey.io/fonts/pangea/medium.woff2") format("woff2"),url("https://cdn.honey.io/fonts/pangea/medium.woff") format("woff");
    font-display: swap
}

@font-face {
    font-family: HoneyGoldG;
    font-display: swap;
    src: url("https://cdn.honey.io/fonts/honeygold-g/medium.ttf") format("truetype")
}
